*{
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}

.container{
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
    background-color: red;
    font-size: x-large;
    display: grid; 
    /* grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px; */
    /* grid-template-rows: 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-gap: 1em;  */
    /* grid-template-rows: 100px 300px 100px;
    grid-template-columns: 1fr 3fr; */
    /* grid-template-areas: 
    'header header'
    'main aside'
    'footer footer'; */
    /* height: 600px; */
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* justify-content: space-between;
    align-items: space-between; */
}

.item-1{
    border: 2px solid black;
    margin: 5px;
    /* grid-row: 1/3;
    grid-column: 1/9; 
    grid-column: 1/6; */
    /* grid-area: header; */
    /* justify-self: center;
    align-self: stretch; */
} 

.item-2{
    border: 2px solid black;
    margin: 5px;
    /* grid-area: main; */
    /* grid-row: 1/3;
    grid-column: 5/9;
    grid-row: span 2;
    grid-column: span 2; 
    grid-area: 2 / 4 / 4 / 7; */
}

.item-3{
    border: 2px solid black; 
    margin: 5px;
    /* grid-area: aside; */
    /* grid-area: 3 / 1 / 7 / 9; */
} 

.item-4{
    border: 2px solid black;
    margin: 5px;
    /* grid-area: footer; */
}