/* *{
    background-color: orange;
}

body{
    background-color: red;
}

h1{
    background-color: #ffeeff;
    color: rgb(0, 0, 255); 
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;  
    font-weight: 100;
    text-align: center;
}
 */

/* *{
    outline: 2px solid black;
} */


/* 
.welcome-text{
    color: red;
    text-align: center;
}

img{
    width: 1000%;
    height: 100px;
}

#subsection{
    color: blue;
}

.main #subsection{
    color: red;
}

#parent{
    color: blue;
}

.child{
    color: red;
} */

/* html{
    background-color: black;
} */

/* *{
    padding: 0;
    margin: 0;
    font-size: 20px;
} */
    
/* .box1{ */
    /* background-color: red;
    border: 20px solid black;
    padding: 20px;
    margin: 20px;
    height: 100px;
    width: 100px;
    box-sizing: border-box; */
    /* background-color: wheat;
    width: 700px;
    height: 200px;
    box-sizing: content-box;
    padding: 50px;
    margin: 20px;
    border: 10px solid black; */
/* } */

/* .box2{ */
    /* background-color: blue;
    border: 10px solid black;
    padding: 20px;
    margin: 20px;
    height: 100px;
    width: 100px; */
    /* background-color: wheat;
    width: 700px;
    height: 200px;
    box-sizing: border-box;
    padding: 50px;
    margin: 20px;
    border: 10px solid black; */
/* } */